<div id="newNoteForm">
    <div id="validation-success"></div>

    <form id="exampleform"></form>
</div>

<script>
    $(document).ready(function () {
        var validationSuccess = $("#validation-success");

        $("#exampleform").kendoForm({
            orientation: "vertical",
            items: [{
                type: "group",
                label: "Dean Notes",
                items: [
                    {
                        field: "Title",
                        label: { text: "Title:", optional: true }
                    },
                    {
                        field: "Note",
                        label: "Note:",
                        editor: "TextArea",
                        editorOptions: { rows: 5 },
                        validation: { required: true }
                    }
                ]
            }],
            validateField: function (e) {
                validationSuccess.html("");
            },
            submit: function (e) {
                e.preventDefault();
                validationSuccess.html("<div class='k-messagebox k-messagebox-success'>Note successfully submitted</div>");
            },
            clear: function (ev) {
                validationSuccess.html("");
            }
        });
    });
</script>